<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Catalog - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <main class="page catalog-page">
        <section class="clean-block clean-catalog dark" style="background: rgb(65,73,79);">
            <div class="container">
                <div class="content">
                    <div class="row">
                        <div class="col-md-9" style="padding: 8px;margin: 98px;">
                            <div class="products">
                                <div class="row no-gutters">
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div><small class="form-text text-muted">Article mi-neuf,sans defaut, etat presque 10/10</small>
                                            <div class="about"><small class="form-text text-muted">prix</small></div><a href="#">Voir detail</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div><small class="form-text text-muted">Article mi-neuf,sans defaut, etat presque 10/10</small>
                                            <div class="about">
                                                <div class="price" style="border-color: rgb(167,169,171);"><small class="form-text text-muted">prix</small></div>
                                            </div><a href="#">Voir detail</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div><small class="form-text text-muted">Article mi-neuf,sans defaut, etat presque 10/10</small><small class="form-text text-muted">prix</small><a href="#">Voir detail</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div><small class="form-text text-muted">Article mi-neuf,sans defaut, etat presque 10/10</small><small class="form-text text-muted">prix</small><a href="#">Voir detail</a>
                                            <div class="product-name"></div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div><small class="form-text text-muted">Article mi-neuf,sans defaut, etat presque 10/10</small><small class="form-text text-muted">prix</small>
                                            <div class="product-name"></div><a href="#">Voir detail</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div><small class="form-text text-muted">Article mi-neuf,sans defaut, etat presque 10/10</small><small class="form-text text-muted">prix</small><a href="#">Voir detail</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div><small class="form-text text-muted">Article mi-neuf,sans defaut, etat presque 10/10</small><small class="form-text text-muted">prix</small><a href="#">Voir detail</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a></div><small class="form-text text-muted">Article mi-neuf,sans defaut, etat presque 10/10</small><small class="form-text text-muted">prix</small><a href="#">Voir detail</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="clean-product-item">
                                            <div class="image"><a href="#"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image2.jpg"></a><a href="#"></a></div><small class="form-text text-muted">Article mi-neuf,sans defaut, etat presque 10/10</small><small class="form-text text-muted">prix</small><a href="#">Voir detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>